/* preloader */

#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:var(--clr-light); /* change if the mask should have another color then white */
	z-index: 999999; /* makes sure it stays on top */
}

#status {
	width:300px;
	height:200px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	background-image:url(/img/status6.gif?); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; /* is width and height divided by two */
}



*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Custom property ,update for our Design */


:root{
    --ff-primary:'Source Sans Pro', sans-serif;;
    --ff-secondary:'Source Code Pro', monospace;
    --fw-reg:300;
    --fw-bold:900;

    --clr-light:#fff;
    --clr-dark:#303030;
    --clr-accent:#16e0be;

    --fs-h1:3rem;
    --fs-h2:2.25rem;
    --fs-h3: 1.25rem;
    --fs-body:1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25),
        0.125em 0.125em 0.125em rgba(0,0,0,0.25);
        --color-black: #000;
        --color-grey0: #f8f8f8;
        --color-grey-1: #dbe1e8;
        --color-grey-2: #b2becd;
        --color-grey-3: #6c7983;
        --color-grey-4: #454e56;
        --color-grey-5: #2a2e35;
        --color-grey-6: #12181b;
}




.light-mode {
    --color-primary: #FFFFFF;
    --color-secondary: #F56692;
    --color-white: #454e56;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #6c7983;
    --color-grey-2: #6c7983;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #f8f8f8;
    --color-grey-6: #12181b;
  }

@media (min-width:800px){
    :root{
        --fs-h1:4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3:1.5rem;
        --fs-body:1.125rem;
    }
}


/* General Styles */

.my__name--header{
  padding: 1rem;
  color: var(--clr-accent);
}




html, body {
  max-width: 100%;
  overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}

body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    overflow: hidden;
}

section{
    padding: 5em 2em; 
}

img{
    display: block;
    max-width: 100%;
}
strong{ font-weight: var(--fw-bold);}

:focus{
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */

.btn{
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;

}
.btn:hover{
    transform: scale(1.1);
}

/* Typograpy */


h1,h2,h3{
    line-height: 1;
    margin: 0;
}

h1{font-size: --fs-h1;}
h2{font-size: --fs-h2;}
h3{font-size: --fs-h3;}




.section__title{
    margin-bottom: 0.25em;
}



.section__title--intro{
    font-weight: var(--fw-reg);
}

.section__title--intro strong{
    display: block;
}

.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}


.section__subtitle--intro,
.section__subtitle--about{
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/* header */


.top-header {
  height: 3.1rem;
  width: 100%;
  background-color: var(--clr-dark);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 900;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

header .logo{
    max-width: 100px;
    position: inherit;
    left: 0;
    top: 0;
}

.nav {
    position: fixed;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);  
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link  {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}
.nav__link:hover{
    color: var(--clr-accent);
}

.hamburger{
    display: block;
    position: relative;
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    /* left: 1em; */
    z-index: 1000;
}

.nav-open .nav{
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}


.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}
.nav-open .hamburger::after {
    opacity: 0;
}


.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }



/* arrow down */
.arrow-down{
  width:60px;
  height:40px;
  margin:0 0 0 -30px;
  position:relative;
  left:50%;
  bottom:0px;
  -webkit-animation: arrow 0.5s 1s infinite ease-out alternate;
  
}

.arrow-down:hover{
   -webkit-animation-play-state: paused;
}

.left{
  position:absolute;
  height:10px;
  width:40px;
  background:black;
  -webkit-transform:rotate(240deg);
  top:10px;
  left:10px;
  -webkit-border-radius:4px;
  -webkit-transform-origin:5px 50%;
  -webkit-animation: leftArrow 0.5s 1s infinite ease-out alternate;
}

.right{
  position:absolute;
  height:10px;
  width:40px;
  background:black;
  -webkit-transform:rotate(-60deg);
  top:10px;
  left:10px;
  -webkit-border-radius:4px;
  -webkit-transform-origin:5px 50%;
  -webkit-animation: rightArrow 0.5s 1s infinite ease-out alternate;
}




@-webkit-keyframes arrow{
  0% {
    bottom:0px;
  }
  100%{
    bottom:40px;
  }
}


@-webkit-keyframes leftArrow{
  0% {
  }
  100%{
    -webkit-transform:rotate(225deg);
  }
}

@-webkit-keyframes rightArrow{
  0% {
  }
  100%{
    -webkit-transform:rotate(-45deg);
  }
}







/* reveal */

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}




/* end reveal */


/* Intro Section */

#home{
  margin-top: 7rem;
}

.intro{
    position: relative;
}


.intro__img{
    box-shadow: var(--bs);
}

.submit-btn1.resume {
  position: relative;
  left: 16em;
  bottom: 3em;
  display: inline-block;
}

.section__subtitle--intro{
    display: inline-block;
}

@media (min-width: 600px){
    .intro{
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap:1em; 
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .intro__img{
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }
    .section__subtitle--intro{
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }

}


/* My education */


#my-education{
  padding: 50px 15px 20px 15px;
  border-bottom: 1px solid var(--clr-light);
  text-align: center;
  /* background-color: var(--clr-dark);
  color: var(--clr-light); */
}



.education__heading--header{
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 30px 0;
}

.education-block {
  max-width: 700px;
  margin: 0 auto 30px auto;
  padding: 15px;
  border: 1px solid #dcd9d9;
  text-align: left;
  border: 2px solid --clr-light;
  border-radius: 15px 50px;
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  transition: all 1s ease;

}

.education-block:hover{
  transform: scale(1.1);
}

/* end of my education */

/* My Services Section */


.my-services{
    background-color: var(--clr-dark);
    background-image: url('../img/project8.jfif');
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

.section__title--services{
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after{
    content: '';
    display: block;
    width: 25%;
    height: 1px;
    margin: 0.5em auto 1em;
    /* background: currentColor; */
    background: var(--clr-light);
    opacity: 1.5;
}

.services{
    margin-bottom: 4em;
}
.service{
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px){
    .services{
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    .service + .service{
        margin-left: 2em;
    }
}





/* skills section */


.about-stats {
    padding-bottom: 4rem;
  }
  .about-stats .progress-bars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
  .about-stats .progress-bars .progress-bar {
    display: flex;
    flex-direction: column;
  }
  .about-stats .progress-bars .progress-bar .prog-title {
    text-transform: uppercase;
    font-weight: 500;
  }
  .about-stats .progress-bars .progress-bar .progress-con {
    display: flex;
    align-items: center;
    /* transform: scaleX(0); */
    /* transform-origin: left; */
    /* animation-name : animate ;
    animation-duration: 1s;
    animation-direction:  normal; */
    /* animation : animate 1s cubic-bezier(1,0,0.5,1) normal ; */
  }


  .progress-bars .progress-bar .progress-con .progress  span::before {
    position: absolute;
    content: "";
  }


  .about-stats .progress-bars .progress-bar .progress-con .prog-text {
    color: var(--color-grey-2);
  }
  .about-stats .progress-bars .progress-bar .progress-con .progress {
    width: 100%;
    height: 0.45rem;
    background-color: var(--color-grey-4);
    margin-left: 1rem;
    position: relative;
  }
  .about-stats .progress-bars .progress-bar .progress-con .progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--clr-accent);
    transition: all 0.4s ease-in-out;
    width: 60%;
  }


  .about-stats .progress-bars .progress-bar .progress-con .progress .html {
    width: 85%;
  }
  .about-stats .progress-bars .progress-bar .progress-con .progress .css {
    width: 80%;
  }
  .about-stats .progress-bars .progress-bar .progress-con .progress .cpp {
    width: 80%;
  }
  .about-stats .progress-bars .progress-bar .progress-con .progress .mysql {
    width: 80%;
  }
  .about-stats .progress-bars .progress-bar .progress-con .progress .dsa {
    width: 70%;
  }
 
  .about-stats .progress-bars .progress-bar .progress-con .progress .js {
    width: 70%;
  }
  .about-stats .progress-bars .progress-bar .progress-con .progress .nodejs {
    width: 70%;
  }
  .about-stats .progress-bars .progress-bar .progress-con .progress .expressjs {
    width: 70%;
  }

  .about-stats .progress-bars .progress-bar .progress-con .progress .mongodb {
    width: 70%;
  }
  .about-stats .progress-bars .progress-bar .progress-con .progress .postman {
    width: 60%;
  }
  
  .stat-title {
    text-transform: uppercase;
    font-size: 2.4rem;
    text-align: center;
    padding: 3.5rem 0;
    position: relative;
  }
  .stat-title::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 40%;
    height: 1px;
    background-color: var(--color-grey-5);
    transform: translateX(-50%);
  }



@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}

/* end of skill section */




/* about me section */

.about-me{
    max-width: 1000px;
    margin: 0 auto;
}


.about-me__img {
    box-shadow: var(--bs);
}
@media (min-width:600px){
    .about-me{
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }
    .section__title--about{
        grid-area: title;
    }

    .section__subtitle--about{
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left:-1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 3em);

    }
    .about-me__img{
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}



/* my work */

/* 
.my-work{
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}


.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px,1fr));
      
}

.portfolio__item{
    background-color: var(--clr-accent);
    overflow: hidden;
}

.portfolio__img{
    transition: 
    transform 750ms cubic-bezier(.5,0,.5,1),
    opacity 250ms linear;
}

.portfolio__item:focus{
    position: relative;
    z-index: 2;
}
.portfolio__img:hover,
    .portfolio__item:focus .portfolio__img{
    transform: scale(1.2);
    opacity: .5;
} */





/* Portfolio */

.section__title--work {
    color: var(--clr-dark);
    /* color: var(--clr-light); */
    text-align: center;
}

.section__subtitle--work{
    /* color : var(--clr-accent); */
    text-align: center;
}

/*Independed components*/
.btn-con {
    display: flex;
    align-self: flex-start;
  }
  
  .main-btn {
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--clr-accent);
    display: flex;
    align-self: flex-start;
    align-items: center;
    overflow: hidden;
  }
  .main-btn .btn-text {
    padding: 0 2rem;
  }
  .main-btn .btn-icon {
    background-color: var(--clr-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;
  }
  .main-btn::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all 0.4s ease-out;
    z-index: -1;
  }
  .main-btn:hover {
    transition: all 0.4s ease-out;
  }
  .main-btn:hover::before {
    width: 100%;
    height: 100%;
    background-color: var(--clr-accent);
    transform: translateX(0);
    transition: all 0.4s ease-out;
  }
  
  .main-title {
    text-align: center;
  }
  .main-title h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
  }
  .main-title h2 span {
    color: var(--clr-accent);
  }
  .main-title h2 .bg-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--color-grey-5);
    transition: all 0.4s ease-in-out;
    z-index: -1;
    transform: translate(-50%, -50%);
    font-weight: 800;
    font-size: 6.3rem;
  }
  
  .about-container .left-about p {
    padding-left: 0;
  }



  #top--myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--clr-accent); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #top--myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }






/* portfolio */
  
.port-text {
    padding: 2rem 0;
    text-align: center;
  }
  

.portfolios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
  }
  .portfolios .portfolio-item {
    position: relative;
    border-radius: 15px;
  }
  .portfolios .portfolio-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
  }
  .portfolios .portfolio-item .hover-items {
    width: 100%;
    height: 100%;
    background-color: var(--clr-accent);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
  }
  .portfolios .portfolio-item .hover-items h3 {
    font-size: 1.5rem;
    color: var(--clr-light);
    margin-bottom: 1.5rem;
  }
  .portfolios .portfolio-item .hover-items .icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .portfolios .portfolio-item .hover-items .icons .icon {
    background-color: var(--clr-dark);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }
  .portfolios .portfolio-item .hover-items .icons .icon i {
    font-size: 1.5rem;
    color: var(--clr-light);
    margin: 0 1rem;
  }
  .portfolios .portfolio-item .hover-items .icons .icon:hover {
    background-color: var(--clr-light);
  }
  .portfolios .portfolio-item .hover-items .icons .icon:hover i {
    color: var(--clr-dark);
  }
  
  .portfolio-item:hover .hover-items {
    opacity: 1;
    transform: scale(1);
  }


@media (max-width: 600px){
    .portfolios {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
        margin-top: 1rem;
      }
}

@media (max-width: 800px){
    .portfolios {
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 6rem;
        margin-top: 1rem;
      }
}

@media (max-width: 600px){
    .portfolios {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
        margin-top: 1rem;
      }

} 


/* Contact Me */

.contact-content-con:after {
  content: "";
  display: table;
  clear: both;
}

.contact-common {
  float: left;
  width: 50%;
  padding: 10px;
}



.contact-content-con .right-contact .input-control {
  margin: 1.5rem 0;
}
.contact-content-con .right-contact .input-control input, .contact-content-con .right-contact .input-control textarea {
  border-radius: 30px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  background-color: var(--color-grey-5);
  width: 100%;
  color: var(--color-white);
  resize: none;
}

.contact-content-con .right-contact .submit-btn {
  display: flex;
  justify-content: flex-start;
  position: relative;
  bottom: 1.5rem;
}

.right-contact form{
  color:var(--clr-light);
}
.submit-btn{
  color: var(--clr-dark);
}
/* end of contact  */


/* main btn */


.main-submit{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
}


/* Footer */




.footer {
    background: var(--clr-dark);
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a { 
    color: inherit; 
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}


.footer__link:hover{
    text-decoration: underline;
}


.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .7em;
}


.copyright {
  position: relative;
  top: 3rem;
}

/* chat box  */



/* CHATBOX */


/* end chat box */

/* Media Queries */


@media screen and (max-width: 600px) {
    .about-container {
      grid-template-columns: repeat(1, 1fr);
    }
    .about-container .right-about {
      grid-template-columns: repeat(1, 1fr);
      padding-top: 2.5rem;
    }
    .about-container .left-about {
      padding-right: 0;
    }
    .about-container .left-about p {
      padding-left: 0;
    }
    .about-stats .progress-bars {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .portfolios {
      grid-template-columns: repeat(1, 1fr);
      padding-bottom: 6rem;
      margin-top: 1rem;
    }
    .contact-content-con {
      flex-direction: column;
    }
    .contact-content-con .right-contact {
      margin-left: 0;
      /* margin-top: 2.5rem; */
    }
  
    .contact-content-con .right-contact .i-c-2 {
      flex-direction: column;
    }
  
    .contact-content-con .right-contact .i-c-2 :last-child {
      margin-left: 0;
      margin-top: 1.5rem;
    }
  
    /* .contact-content-con .right-contact {
      margin-bottom: 6rem;
    } */
  
    .contact-item {
      flex-direction: column;
      margin: 1rem 0;
    }
    .contact-item p {
      font-size: 15px;
      color: var(--color-grey-2);
    }
    .contact-item span {
      font-size: 15px;
    }
    .contact-item .icon {
      grid-template-columns: 25px 1fr;
    }
  
    .main-title h2 {
      font-size: 2rem;
    }
    .main-title h2 span {
      font-size: 2.3rem;
    }
    .main-title h2 .bg-text {
      font-size: 2.3rem;
    }

    .submit-btn1.resume {
      position: relative;
      left: 0;
      bottom: 0;
      margin-top: 1rem;
    }

    .contact-common {
      width: 100%;
    }
  }
  @media screen and (max-width: 1432px) {
    .contact-content-con {
      flex-direction: column;
    }
    .contact-content-con .right-contact {
      margin-left: 0;
      /* margin-top: 2.5rem; */
    }
  
    .contact-content-con .right-contact .i-c-2 {
      flex-direction: column;
    }
  
    .contact-content-con .right-contact .i-c-2 :last-child {
      margin-left: 0;
      margin-top: 1.5rem;
    }
  
    /* .contact-content-con .right-contact {
      margin-bottom: 6rem;
    } */
  
    .main-title h2 .bg-text {
      font-size: 5.5rem;
    }
  }
  @media screen and (max-width: 1250px) {
    .portfolios {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (max-width: 660px) {
    .portfolios {
      grid-template-columns: repeat(1, 1fr);
    }
    
  }
  @media screen and (max-width: 1070px) {
    .about-container {
      grid-template-columns: repeat(1, 1fr);
    }
    .about-container .right-about {
      padding-top: 2.5rem;
    }
  
    .main-title h2 {
      font-size: 3rem;
    }
    .main-title h2 span {
      font-size: 3rem;
    }
    .main-title h2 .bg-text {
      font-size: 4.5rem;
    }
    .submit-btn1.coffee {
      display: flex;
      align-items: center;
      position: fixed;
      left: 68rem;
      margin-top: 1rem;
      bottom: 4rem;
    }
  }
  @media screen and (max-width: 970px) {
    .about-container .left-about {
      padding-right: 0rem;
    }
    .submit-btn1.coffee {
      align-items: center;
      position: fixed;
      right: 0;
      margin-top: 1rem;
      bottom: 4rem;
    }
  }
  @media screen and (max-width: 700px) {

    .about-stats .progress-bars {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .about-container .right-about {
      grid-template-columns: repeat(1, 1fr);
    }
    .main-title h2 {
      font-size: 2rem;
    }
    .main-title h2 span {
      font-size: 2rem;
    }
    .main-title h2 .bg-text {
      font-size: 4rem;
    } 
  }